a2wsgi==1.10.10 ; python_full_version == "3.12.3"
aiofiles==25.1.0 ; python_full_version == "3.12.3"
aiohappyeyeballs==2.6.1 ; python_full_version == "3.12.3"
aiohttp-cors==0.8.1 ; python_full_version == "3.12.3"
aiohttp==3.13.2 ; python_full_version == "3.12.3"
aiosignal==1.4.0 ; python_full_version == "3.12.3"
aiosmtplib==5.0.0 ; python_full_version == "3.12.3"
aiosqlite==0.21.0 ; python_full_version == "3.12.3"
alembic==1.17.2 ; python_full_version == "3.12.3"
annotated-types==0.7.0 ; python_full_version == "3.12.3"
anyio==4.12.0 ; python_full_version == "3.12.3"
apache-airflow-core==3.1.3 ; python_full_version == "3.12.3"
apache-airflow-providers-common-compat==1.9.0 ; python_full_version == "3.12.3"
apache-airflow-providers-common-io==1.6.5 ; python_full_version == "3.12.3"
apache-airflow-providers-common-sql==1.29.0 ; python_full_version == "3.12.3"
apache-airflow-providers-google==19.0.0 ; python_full_version == "3.12.3"
apache-airflow-providers-smtp==2.3.2 ; python_full_version == "3.12.3"
apache-airflow-providers-standard==1.9.2 ; python_full_version == "3.12.3"
apache-airflow-task-sdk==1.1.3 ; python_full_version == "3.12.3"
apache-airflow==3.1.3 ; python_full_version == "3.12.3"
argcomplete==3.6.3 ; python_full_version == "3.12.3"
asgiref==3.11.0 ; python_full_version == "3.12.3"
attrs==25.4.0 ; python_full_version == "3.12.3"
babel==2.17.0 ; python_full_version == "3.12.3"
backoff==2.2.1 ; python_full_version == "3.12.3"
cachetools==6.2.2 ; python_full_version == "3.12.3"
cadwyn==5.4.5 ; python_full_version == "3.12.3"
cattrs==25.3.0 ; python_full_version == "3.12.3"
certifi==2025.11.12 ; python_full_version == "3.12.3"
cffi==2.0.0 ; python_full_version == "3.12.3" and platform_python_implementation != "PyPy"
chardet==5.2.0 ; python_full_version == "3.12.3"
charset-normalizer==3.4.4 ; python_full_version == "3.12.3"
click==8.2.1 ; python_full_version == "3.12.3"
colorama==0.4.6 ; (sys_platform == "win32" or platform_system == "Windows") and python_full_version == "3.12.3"
colorful==0.5.8 ; python_full_version == "3.12.3"
colorlog==6.10.1 ; python_full_version == "3.12.3"
cron-descriptor==2.0.6 ; python_full_version == "3.12.3"
croniter==6.0.0 ; python_full_version == "3.12.3"
cryptography==46.0.3 ; python_full_version == "3.12.3"
db-dtypes==1.4.4 ; python_full_version == "3.12.3"
decorator==5.2.1 ; python_full_version == "3.12.3"
deprecated==1.3.1 ; python_full_version == "3.12.3"
dill==0.4.0 ; python_full_version == "3.12.3"
distlib==0.4.0 ; python_full_version == "3.12.3"
distro==1.9.0 ; python_full_version == "3.12.3"
dnspython==2.8.0 ; python_full_version == "3.12.3"
docstring-parser==0.17.0 ; python_full_version == "3.12.3"
email-validator==2.3.0 ; python_full_version == "3.12.3"
fastapi-cli==0.0.16 ; python_full_version == "3.12.3"
fastapi==0.117.1 ; python_full_version == "3.12.3"
fastuuid==0.14.0 ; python_full_version == "3.12.3"
filelock==3.20.0 ; python_full_version == "3.12.3"
frozenlist==1.8.0 ; python_full_version == "3.12.3"
fsspec==2025.10.0 ; python_full_version == "3.12.3"
gcloud-aio-auth==5.4.2 ; python_full_version == "3.12.3"
gcloud-aio-bigquery==7.1.0 ; python_full_version == "3.12.3"
gcloud-aio-storage==9.6.1 ; python_full_version == "3.12.3"
gcsfs==2025.10.0 ; python_full_version == "3.12.3"
google-ads==28.4.0 ; python_full_version == "3.12.3"
google-analytics-admin==0.26.0 ; python_full_version == "3.12.3"
google-api-core==2.28.1 ; python_full_version == "3.12.3"
google-api-python-client==2.187.0 ; python_full_version == "3.12.3"
google-auth-httplib2==0.2.1 ; python_full_version == "3.12.3"
google-auth-oauthlib==1.2.2 ; python_full_version == "3.12.3"
google-auth==2.43.0 ; python_full_version == "3.12.3"
google-cloud-aiplatform==1.128.0 ; python_full_version == "3.12.3"
google-cloud-alloydb==0.6.0 ; python_full_version == "3.12.3"
google-cloud-appengine-logging==1.7.0 ; python_full_version == "3.12.3"
google-cloud-audit-log==0.4.0 ; python_full_version == "3.12.3"
google-cloud-automl==2.17.0 ; python_full_version == "3.12.3"
google-cloud-batch==0.18.0 ; python_full_version == "3.12.3"
google-cloud-bigquery-datatransfer==3.20.0 ; python_full_version == "3.12.3"
google-cloud-bigquery-storage==2.34.0 ; python_full_version == "3.12.3"
google-cloud-bigquery==3.38.0 ; python_full_version == "3.12.3"
google-cloud-bigtable==2.34.0 ; python_full_version == "3.12.3"
google-cloud-build==3.33.0 ; python_full_version == "3.12.3"
google-cloud-compute==1.40.0 ; python_full_version == "3.12.3"
google-cloud-container==2.61.0 ; python_full_version == "3.12.3"
google-cloud-core==2.5.0 ; python_full_version == "3.12.3"
google-cloud-datacatalog==3.28.0 ; python_full_version == "3.12.3"
google-cloud-dataflow-client==0.10.0 ; python_full_version == "3.12.3"
google-cloud-dataform==0.7.0 ; python_full_version == "3.12.3"
google-cloud-dataplex==2.15.0 ; python_full_version == "3.12.3"
google-cloud-dataproc-metastore==1.20.0 ; python_full_version == "3.12.3"
google-cloud-dataproc==5.23.0 ; python_full_version == "3.12.3"
google-cloud-dlp==3.33.0 ; python_full_version == "3.12.3"
google-cloud-kms==3.7.0 ; python_full_version == "3.12.3"
google-cloud-language==2.18.0 ; python_full_version == "3.12.3"
google-cloud-logging==3.12.1 ; python_full_version == "3.12.3"
google-cloud-managedkafka==0.2.0 ; python_full_version == "3.12.3"
google-cloud-memcache==1.13.0 ; python_full_version == "3.12.3"
google-cloud-monitoring==2.28.0 ; python_full_version == "3.12.3"
google-cloud-orchestration-airflow==1.18.0 ; python_full_version == "3.12.3"
google-cloud-os-login==2.18.0 ; python_full_version == "3.12.3"
google-cloud-pubsub==2.33.0 ; python_full_version == "3.12.3"
google-cloud-redis==2.19.0 ; python_full_version == "3.12.3"
google-cloud-resource-manager==1.15.0 ; python_full_version == "3.12.3"
google-cloud-run==0.12.0 ; python_full_version == "3.12.3"
google-cloud-secret-manager==2.25.0 ; python_full_version == "3.12.3"
google-cloud-spanner==3.59.0 ; python_full_version == "3.12.3"
google-cloud-speech==2.34.0 ; python_full_version == "3.12.3"
google-cloud-storage-transfer==1.18.0 ; python_full_version == "3.12.3"
google-cloud-storage==3.6.0 ; python_full_version == "3.12.3"
google-cloud-tasks==2.20.0 ; python_full_version == "3.12.3"
google-cloud-texttospeech==2.33.0 ; python_full_version == "3.12.3"
google-cloud-translate==3.23.0 ; python_full_version == "3.12.3"
google-cloud-videointelligence==2.17.0 ; python_full_version == "3.12.3"
google-cloud-vision==3.11.0 ; python_full_version == "3.12.3"
google-cloud-workflows==1.19.0 ; python_full_version == "3.12.3"
google-crc32c==1.7.1 ; python_full_version == "3.12.3"
google-genai==1.52.0 ; python_full_version == "3.12.3"
google-resumable-media==2.8.0 ; python_full_version == "3.12.3"
googleapis-common-protos==1.72.0 ; python_full_version == "3.12.3"
greenback==1.2.1 ; python_full_version == "3.12.3"
greenlet==3.2.4 ; python_full_version == "3.12.3"
grpc-google-iam-v1==0.14.3 ; python_full_version == "3.12.3"
grpc-interceptor==0.15.4 ; python_full_version == "3.12.3"
grpcio-gcp==0.2.2 ; python_full_version == "3.12.3"
grpcio-status==1.67.1 ; python_full_version == "3.12.3"
grpcio==1.67.1 ; python_full_version == "3.12.3"
h11==0.16.0 ; python_full_version == "3.12.3"
hf-xet==1.2.0 ; python_full_version == "3.12.3" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "arm64" or platform_machine == "aarch64")
httpcore==1.0.9 ; python_full_version == "3.12.3"
httplib2==0.31.0 ; python_full_version == "3.12.3"
httptools==0.7.1 ; python_full_version == "3.12.3"
httpx==0.28.1 ; python_full_version == "3.12.3"
huggingface-hub==1.1.6 ; python_full_version == "3.12.3"
idna==3.11 ; python_full_version == "3.12.3"
immutabledict==4.2.2 ; python_full_version == "3.12.3"
importlib-metadata==8.7.0 ; python_full_version == "3.12.3"
itsdangerous==2.2.0 ; python_full_version == "3.12.3"
jinja2==3.1.6 ; python_full_version == "3.12.3"
jiter==0.12.0 ; python_full_version == "3.12.3"
joblib==1.5.2 ; python_full_version == "3.12.3"
jsonschema-specifications==2025.9.1 ; python_full_version == "3.12.3"
jsonschema==4.25.1 ; python_full_version == "3.12.3"
lazy-object-proxy==1.12.0 ; python_full_version == "3.12.3"
libcst==1.8.6 ; python_full_version == "3.12.3"
linkify-it-py==2.0.3 ; python_full_version == "3.12.3"
litellm==1.80.7 ; python_full_version == "3.12.3"
lockfile==0.12.2 ; python_full_version == "3.12.3"
looker-sdk==25.20.0 ; python_full_version == "3.12.3"
lxml==6.0.2 ; python_full_version == "3.12.3"
mako==1.3.10 ; python_full_version == "3.12.3"
markdown-it-py==4.0.0 ; python_full_version == "3.12.3"
markupsafe==3.0.3 ; python_full_version == "3.12.3"
mdurl==0.1.2 ; python_full_version == "3.12.3"
methodtools==0.4.7 ; python_full_version == "3.12.3"
more-itertools==10.8.0 ; python_full_version == "3.12.3"
msgpack==1.1.2 ; python_full_version == "3.12.3"
msgspec==0.20.0 ; python_full_version == "3.12.3"
multidict==6.7.0 ; python_full_version == "3.12.3"
natsort==8.4.0 ; python_full_version == "3.12.3"
numpy==2.3.5 ; python_full_version == "3.12.3"
oauthlib==3.3.1 ; python_full_version == "3.12.3"
openai==2.8.1 ; python_full_version == "3.12.3"
opencensus-context==0.1.3 ; python_full_version == "3.12.3"
opencensus==0.11.4 ; python_full_version == "3.12.3"
opentelemetry-api==1.38.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp-proto-common==1.38.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp-proto-grpc==1.38.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp-proto-http==1.38.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp==1.38.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-prometheus==0.59b0 ; python_full_version == "3.12.3"
opentelemetry-proto==1.38.0 ; python_full_version == "3.12.3"
opentelemetry-sdk==1.38.0 ; python_full_version == "3.12.3"
opentelemetry-semantic-conventions==0.59b0 ; python_full_version == "3.12.3"
outcome==1.3.0.post0 ; python_full_version == "3.12.3"
packaging==25.0 ; python_full_version == "3.12.3"
pandas-gbq==0.31.0 ; python_full_version == "3.12.3"
pandas==2.3.3 ; python_full_version == "3.12.3"
pathspec==0.12.1 ; python_full_version == "3.12.3"
pendulum==3.1.0 ; python_full_version == "3.12.3"
platformdirs==4.5.0 ; python_full_version == "3.12.3"
pluggy==1.6.0 ; python_full_version == "3.12.3"
prometheus-client==0.23.1 ; python_full_version == "3.12.3"
propcache==0.4.1 ; python_full_version == "3.12.3"
proto-plus==1.26.1 ; python_full_version == "3.12.3"
protobuf==5.29.5 ; python_full_version == "3.12.3"
psutil==7.1.3 ; python_full_version == "3.12.3"
py-spy==0.4.1 ; python_full_version == "3.12.3"
pyarrow==22.0.0 ; python_full_version == "3.12.3"
pyasn1-modules==0.4.2 ; python_full_version == "3.12.3"
pyasn1==0.6.1 ; python_full_version == "3.12.3"
pycparser==2.23 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_full_version == "3.12.3"
pydantic-core==2.41.5 ; python_full_version == "3.12.3"
pydantic==2.12.5 ; python_full_version == "3.12.3"
pydata-google-auth==1.9.1 ; python_full_version == "3.12.3"
pygments==2.19.2 ; python_full_version == "3.12.3"
pygtrie==2.5.0 ; python_full_version == "3.12.3"
pyjwt==2.10.1 ; python_full_version == "3.12.3"
pyopenssl==25.3.0 ; python_full_version == "3.12.3"
pyparsing==3.2.5 ; python_full_version == "3.12.3"
python-daemon==3.1.2 ; python_full_version == "3.12.3"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.3"
python-dotenv==1.2.1 ; python_full_version == "3.12.3"
python-multipart==0.0.20 ; python_full_version == "3.12.3"
python-slugify==8.0.4 ; python_full_version == "3.12.3"
pytrends==4.9.2 ; python_full_version == "3.12.3"
pytz==2025.2 ; python_full_version == "3.12.3"
pyyaml==6.0.3 ; python_full_version == "3.12.3"
ray==2.52.1 ; python_full_version == "3.12.3"
referencing==0.37.0 ; python_full_version == "3.12.3"
regex==2025.11.3 ; python_full_version == "3.12.3"
requests-oauthlib==2.0.0 ; python_full_version == "3.12.3"
requests==2.32.5 ; python_full_version == "3.12.3"
rich-argparse==1.7.2 ; python_full_version == "3.12.3"
rich-toolkit==0.17.0 ; python_full_version == "3.12.3"
rich==14.2.0 ; python_full_version == "3.12.3"
rpds-py==0.29.0 ; python_full_version == "3.12.3"
rsa==4.9.1 ; python_full_version == "3.12.3"
ruamel-yaml-clib==0.2.15 ; python_full_version == "3.12.3" and platform_python_implementation == "CPython"
ruamel-yaml==0.18.16 ; python_full_version == "3.12.3"
scikit-learn==1.7.2 ; python_full_version == "3.12.3"
scipy==1.16.3 ; python_full_version == "3.12.3"
setproctitle==1.3.7 ; python_full_version == "3.12.3"
setuptools==80.9.0 ; python_full_version == "3.12.3"
shapely==2.1.2 ; python_full_version == "3.12.3"
shellingham==1.5.4 ; python_full_version == "3.12.3"
six==1.17.0 ; python_full_version == "3.12.3"
smart-open==7.5.0 ; python_full_version == "3.12.3"
sniffio==1.3.1 ; python_full_version == "3.12.3"
sqlalchemy-bigquery==1.16.0 ; python_full_version == "3.12.3"
sqlalchemy-jsonfield==1.0.2 ; python_full_version == "3.12.3"
sqlalchemy-spanner==1.17.1 ; python_full_version == "3.12.3"
sqlalchemy-utils==0.42.0 ; python_full_version == "3.12.3"
sqlalchemy==2.0.44 ; python_full_version == "3.12.3"
sqlparse==0.5.4 ; python_full_version == "3.12.3"
starlette==0.48.0 ; python_full_version == "3.12.3"
structlog==25.5.0 ; python_full_version == "3.12.3"
svcs==25.1.0 ; python_full_version == "3.12.3"
tabulate==0.9.0 ; python_full_version == "3.12.3"
tenacity==9.1.2 ; python_full_version == "3.12.3"
termcolor==3.2.0 ; python_full_version == "3.12.3"
text-unidecode==1.3 ; python_full_version == "3.12.3"
threadpoolctl==3.6.0 ; python_full_version == "3.12.3"
tiktoken==0.12.0 ; python_full_version == "3.12.3"
tokenizers==0.22.1 ; python_full_version == "3.12.3"
tqdm==4.67.1 ; python_full_version == "3.12.3"
typer-slim==0.20.0 ; python_full_version == "3.12.3"
typer==0.20.0 ; python_full_version == "3.12.3"
types-protobuf==6.32.1.20251105 ; python_full_version == "3.12.3"
typing-extensions==4.15.0 ; python_full_version == "3.12.3"
typing-inspection==0.4.2 ; python_full_version == "3.12.3"
tzdata==2025.2 ; python_full_version == "3.12.3"
uc-micro-py==1.0.3 ; python_full_version == "3.12.3"
universal-pathlib==0.2.6 ; python_full_version == "3.12.3"
uritemplate==4.2.0 ; python_full_version == "3.12.3"
urllib3==2.5.0 ; python_full_version == "3.12.3"
uuid6==2025.0.1 ; python_full_version == "3.12.3"
uvicorn==0.38.0 ; python_full_version == "3.12.3"
uvloop==0.22.1 ; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_full_version == "3.12.3"
virtualenv==20.35.4 ; python_full_version == "3.12.3"
watchfiles==1.1.1 ; python_full_version == "3.12.3"
websockets==15.0.1 ; python_full_version == "3.12.3"
wirerope==1.0.0 ; python_full_version == "3.12.3"
wrapt==2.0.1 ; python_full_version == "3.12.3"
yarl==1.22.0 ; python_full_version == "3.12.3"
zipp==3.23.0 ; python_full_version == "3.12.3"
